
<footer>
  

    <div class="subfooter">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    &copy; Copyright 2020 - Profession by Sparks
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->

<a href="#" id="back-to-top"></a>
<div id="preloader">
    <div class="s1">
        <span></span>
        <span></span>
    </div>
</div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/easing.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/validation.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/enquire.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.plugin.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBOIFCvMQ1iEPFOeNIDAD5xjHwKBgGf8vk"></script>
<script src="js/map.js"></script>
<script src="js/typed.js"></script>
<script src="js/typed-custom.js"></script>
<script src="js/designesia.js"></script>



</body>


</html>
